.app {
    display: flex;
    height: 100vh;
    overflow: auto;

    &-sidebar {
        flex: 0 0 auto;
        background-color: #333;
        color: #ccc;

        .nav-item, .nav-item-action {
            color: #ccc;
        }

        .nav-item {
            > a {
                border-right: 5px solid transparent;
                &.active {
                    background-color: #000;
                    border-color: cyan;
                }
            }
        }

        .nav-item-action {
            display: flex;
            justify-content: center;
        }

        .nav-title {
            width: 200px;
            max-width: 300px;
            transition: 0.2s;
            color: #ccc;
        }

        &:not(.open) {
            .nav-title {
                max-width: 0;
            }
        }

        .nav-bottom {
            position: sticky;
            top: 100%;
        }
    }

    &-content {
        flex: 1 1 auto;
        overflow: auto;
    }
}
